@use "node_modules/@material/icon-button/mdc-icon-button";
@use "node_modules/@material/top-app-bar/mdc-top-app-bar";
@use "node_modules/@material/tab-bar/mdc-tab-bar";
@use "node_modules/@material/tab-scroller/mdc-tab-scroller";
@use "node_modules/@material/tab-indicator/mdc-tab-indicator";
@use "node_modules/@material/tab/mdc-tab";

//@include icon-button.core-styles;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 2;
    font-style: normal;
    --mdc-theme-primary: #000000;
    --mdc-theme-secondary: #00E676;
    --mdc-theme-background: #EEEEEE;
    --mdc-theme-on-primary: #EEEEEE;
    --mdc-theme-on-secondary: #EEEEEE;
}

.mdc-top-app-bar {
    padding-left: 25px;
}

#container {
    margin: 50px;
    
}