@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 2;
    font-style: normal;
    --mdc-theme-primary: #000000;
    --mdc-theme-secondary: #00E676;
    --mdc-theme-background: #EEEEEE;
    --mdc-theme-on-primary: #EEEEEE;
    --mdc-theme-on-secondary: #EEEEEE;
}

.mdc-top-app-bar {
    padding-left: 25px;
}

#container {
    margin: 50px;
    
}